<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyh.ffmpegcmd">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@drawable/video"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".edit.video.VideoFilterActivity"></activity>
        <activity android:name=".edit.video.AudioDeMuxActivity" />
        <activity android:name=".edit.video.VideoDeMuxActivity" />
        <activity android:name=".edit.video.VideoNoWaterMarkActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".edit.audio.AudioMixActivity" />
        <activity android:name=".edit.video.VideoPuzzActivity" />
        <activity android:name=".edit.video.VideoWaterMarkActivity" />
        <activity android:name=".edit.audio.AudioTransCodeActivity" />
        <activity android:name=".edit.video.VideoFlipActivity" />
    </application>

</manifest>